<div style="text-align: center">
  <h2 class="jumbotron bg secondary text-white">Registro Empleados</h2>
</div>
<div class="row">
  <div class="col-md-6">
    <app-empleado></app-empleado>
  </div>
  <div class="col-md-6">
    <app-lista-empleado></app-lista-empleado>
  </div>
</div>
