<table class="table table-sm table-hover">
<tr *ngFor="let empleado of empleadoService.listaEmpleado" >
    <td>{{ empleado.Nombre }} - {{ empleado.Apellido }}</td>
    <td>{{ empleado.Posicion  }} </td>
    <td>
      <a class="btn" (click)="showForEdit(empleado)">
       <i class="fa fa-pencil-square-o"></i>
      </a>
      <a class="btn-text-danger" (click)="onDelete(empleado.empleadoID)">
       <i class="fa fa-trash-o" ></i>
      </a>
    </td>
</tr>

</table>
