/* You can add global styles to this file, and also import other style files */
form.emp-form{
  background-color: #dbdbdb;
  border-radius: 4px;
  padding: 10px;
}
div.validation-error {
  color: red;
  text-align: center;

}
button:hover, a.btn:hover{
  cursor: pointer;
}


