<form  class="emp-form" #empleados="ngForm" (ngSubmit)="onSubmit(empleados)"  >
  <input type="hidden"  name="empleadoID" #empleadoID="ngModel" [(ngModel)]="empleadoService.empleadoL.empleadoID">
  <div class="form-row">
  <div class="form-group col-md-6">
    <input class="form-control" type="text"  name="Nombre" #Nombre="ngModel"  [(ngModel)]="empleadoService.empleadoL.Nombre"  placeholder="Nombre" required   >
    <div class="validation-error" *ngIf="Nombre.invalid && Nombre.touched">Este campo es requerido</div>
  </div>

  <div class="form-group col-md-6">
      <input class="form-control" type="text" name="Apellido" #Apellido="ngModel" [(ngModel)]="empleadoService.empleadoL.Apellido" placeholder="Apellido"  >
      <div class="validation-error" *ngIf="Apellido.invalid && Apellido.touched">Este campo es requerido</div>
  </div>
</div>

<div class="form grup">
    <input class="form-control" type="text" name="Posicion" #Posicion="ngModel" [(ngModel)]="empleadoService.empleadoL.Posicion" placeholder="Posicion"  >
    <div class="validation-error" *ngIf="Posicion.invalid && Posicion.touched">Este campo es requerido</div>
</div>
<br>
<div class="form-row">
    <div class="form-group col-md-6">
      <input class="form-control" type="text" name="CodigoEmp" #Codigo_Empl="ngModel" [(ngModel)]="empleadoService.empleadoL.CodigoEmp" placeholder="Codigo Empleado"  >
      <div class="validation-error" *ngIf="Codigo_Empl.invalid && Codigo_Empl.touched">Este campo es requerido</div>
    </div>
    <div class="form-group col-md-6">
        <input class="form-control" type="text" name="Ciudad" #Ciudad="ngModel" [(ngModel)]="empleadoService.empleadoL.Cuidad" placeholder="Cuidad"  >
        <div class="validation-error" *ngIf="Ciudad.invalid && Ciudad.touched">Este campo es requerido</div>
    </div>
  </div>
  <div class="form-row">
      <div class="form-group col-md-8">
        <button type="submit"  class="btn btn-lg btn-block btn-info">Aceptar</button>
      </div>
      <div class="form-group col-md-4">
          <button type="button" class="btn btn-lg btn-block btn-secondary" (click)="resetForm(empleados)">Limpiar</button>
      </div>
    </div>



</form>
